<div ng-controller="homeCtrl">
  <div class="columns">
    <div class="column is-8 is-offset-2 white box full-height">
<!--TAB NAV-->
	    <div class="tabs is-centered is-boxed">
  		  <ul>
    	  <li id="viewTab" class="is-active">
      		<a ng-click="viewTab()">
        	  <span class="icon is-small"><i class="fa fa-eye"></i></span>
        	  <span>View</span>
      		</a>
    	  </li>
    	  <li id="scheduleTab" class="none">
      		<a ng-click="editTab()">
        	  <span class="icon is-small"><i class="fa fa-calendar-plus-o"></i></span>
        	  <span>Edit</span>
      		</a>
    	  </li>
    	  <li id="employeesTab" class="none">
      		<a ng-click="employeesTab()">
        	  <span class="icon is-small"><i class="fa fa-users"></i></span>
        	  <span>Employees</span>
      		</a>
    	  </li>
  		  </ul>
	    </div>
<!--VIEW TAB/////////////////////////////////////////////////////////////////////////////////-->
<!--SCHEDULE OUTPUT-->
      <div ng-hide="hideViewTab">
        <div class="has-text-centered content x-margin">
          <h2>Weekly Schedule</h2>
        </div>
        <div class="columns has-text-centered">
          <div class="column">
          </div>
          <div class="column">
            <p>Mon</p>
          </div>
          <div class="column">
            <p>Tue</p>
          </div>
          <div class="column">
            <p>Wed</p>
          </div>
          <div class="column">
            <p>Thur</p>
          </div>
          <div class="column">
            <p>Fri</p>
          </div>
          <div class="column">
            <p>Sat</p>
          </div>
          <div class="column">
            <p>Sun</p>
          </div>
        </div>
        <div class="columns has-text-centered" ng-repeat="s in schedule">
          <div class="column">
            {{s.name}}
          </div>
          <div class="column cell">
            {{s.monday}}
          </div>
          <div class="column cell">
            {{s.tuesday}}
          </div>
          <div class="column cell">
            {{s.wednesday}}
          </div>
          <div class="column cell">
            {{s.thursday}}
          </div>
          <div class="column cell">
            {{s.friday}}
          </div>
          <div class="column cell">
            {{s.saturday}}
          </div>
          <div class="column cell">
            {{s.sunday}}
          </div>
        </div>
      </div>
<!--EDIT TAB/////////////////////////////////////////////////////////////////////////////////-->
<!--SET SCHEDULE-->
      <div ng-hide="hideEditTab">
        <div class="has-text-centered content x-margin">
          <h2>Edit Schedule</h2>
        </div>
        <div class="columns x-margin-bottom">
          <div class="column is-4 is-offset-4">
            <p class="control">
              <label for="list"> Who's schedule would you like to edit? </label><br>
              <span class="select is-fullwidth">
                <select name="list" ng-model="employeeList" ng-change="output(e.name)">
                  <option value="">Select Employee</option>
                  <option ng-repeat="e in employees">{{e.name}}</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="columns content">
          <div class="column">
            <h3 class="no-margin">Date</h3>
          </div>
          <div class="column">
            <h3 class="no-margin">Start</h3>
          </div>
          <div class="column">
            <h3 class="no-margin">End</h3>
          </div>
        </div>
<!--MONDAY-->
        <div class="columns has-text-centered section">
          <div class="column">
            <p class="control">
              <label class="checkbox">
                <input type="checkbox" ng-model="monday">
                Monday
              </label>
            </p>
          </div>
          <div class="column">
              <div class="control is-grouped">
                <input
                  ng-model="monStart" 
                  class="input" 
                  type="text" 
                  placeholder="START (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="monStartAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
          <div class="column">
            <div class="control is-grouped">
                <input
                  ng-model="monEnd" 
                  class="input" 
                  type="text" 
                  placeholder="END (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="monEndAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
        </div>
<!--TUESDAY-->
        <div class="columns has-text-centered section">
          <div class="column">
            <p class="control">
              <label class="checkbox">
                <input type="checkbox" ng-model="tuesday">
                Tuesday
              </label>
            </p>
          </div>
          <div class="column">
              <div class="control is-grouped">
                <input
                  ng-model="tuesStart" 
                  class="input" 
                  type="text" 
                  placeholder="START (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="tuesStartAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
          <div class="column">
            <div class="control is-grouped">
                <input
                  ng-model="tuesEnd" 
                  class="input" 
                  type="text" 
                  placeholder="END (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="tuesEndAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
        </div>
<!--WEDNESDAY-->
        <div class="columns has-text-centered section">
          <div class="column">
            <p class="control">
              <label class="checkbox">
                <input type="checkbox" ng-model="wednesday">
                Wednesday
              </label>
            </p>
          </div>
          <div class="column">
              <div class="control is-grouped">
                <input
                  ng-model="wedStart" 
                  class="input" 
                  type="text" 
                  placeholder="START (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="wedStartAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
          <div class="column">
            <div class="control is-grouped">
                <input
                  ng-model="wedEnd" 
                  class="input" 
                  type="text" 
                  placeholder="END (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="wedEndAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
        </div>
<!--THURSDAY-->
        <div class="columns has-text-centered section">
          <div class="column">
            <p class="control">
              <label class="checkbox">
                <input type="checkbox" ng-model="thursday">
                Thursday
              </label>
            </p>
          </div>
          <div class="column">
              <div class="control is-grouped">
                <input
                  ng-model="thursStart" 
                  class="input" 
                  type="text" 
                  placeholder="START (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="thursStartAMPM" >
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
          <div class="column">
            <div class="control is-grouped">
                <input
                  ng-model="thursEnd" 
                  class="input" 
                  type="text" 
                  placeholder="END (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="thursEndAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
        </div>
<!--FRIDAY-->
        <div class="columns has-text-centered section">
          <div class="column">
            <p class="control">
              <label class="checkbox">
                <input type="checkbox" ng-model="friday">
                Friday
              </label>
            </p>
          </div>
          <div class="column">
              <div class="control is-grouped">
                <input
                  ng-model="friStart" 
                  class="input" 
                  type="text" 
                  placeholder="START (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="friStartAMPM" >
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
          <div class="column">
            <div class="control is-grouped">
                <input
                  ng-model="friEnd"  
                  class="input" 
                  type="text" 
                  placeholder="END (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="friEndAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
        </div>
<!--SATURDAY-->
        <div class="columns has-text-centered section">
          <div class="column">
            <p class="control">
              <label class="checkbox">
                <input type="checkbox" ng-model="saturday">
                Saturday
              </label>
            </p>
          </div>
          <div class="column">
              <div class="control is-grouped">
                <input
                  ng-model="satStart" 
                  class="input" 
                  type="text" 
                  placeholder="START (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="satStartAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
          <div class="column">
            <div class="control is-grouped">
                <input
                  ng-model="satEnd" 
                  class="input" 
                  type="text" 
                  placeholder="END (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="satEndAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
        </div>
<!--SUNDAY-->
        <div class="columns has-text-centered section">
          <div class="column">
            <p class="control">
              <label class="checkbox">
                <input type="checkbox" ng-model="sunday">
                Sunday
              </label>
            </p>
          </div>
          <div class="column">
              <div class="control is-grouped">
                <input
                  ng-model="sunStart" 
                  class="input" 
                  type="text" 
                  placeholder="START (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="sunStartAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
          <div class="column">
            <div class="control is-grouped">
                <input
                  ng-model="sunEnd" 
                  class="input" 
                  type="text" 
                  placeholder="END (00:00)">
                <p class="control">
                  <span class="select">
                    <select ng-model="sunEndAMPM">
                      <option value="">am/pm</option>
                      <option>am</option>
                      <option>pm</option>
                    </select>
                  </span>
                </p>
              </div>
          </div>
        </div>
        <div class="section"></div>
        <a class="button is-success" ng-click="save()">Save Schedule</a>
      </div>
<!--EMPLOYEE TAB/////////////////////////////////////////////////////////////////////////////-->
      <div ng-hide="hideEmployeesTab">
        <div class="has-text-centered content x-margin">
          <h2>Employees</h2>
        </div>
<!--ADD EMPLOYEE-->
        <div class="columns content">
          <div class="column">
            <h3 class="no-margin">Add Employee</h3>
          </div>
        </div>
        <div class="columns section">
          <div class="column">
            <p class="control is-grouped">
              <input
                ng-model="employee.email" 
                class="input" 
                type="email" 
                placeholder="Enter new employee's email...">
              <a class="button is-success" ng-click="add(employee)">
                Add
              </a>
            </p>
          </div>
        </div>
<!--DELETE EMPLOYEE-->
        <div class="columns content x-margin-top">
          <div class="column">
            <h3 class="no-margin">Delete Employee</h3>
          </div>
        </div>
        <div class="columns section">
          <div class="column">
            <p class="control is-grouped">
              <span class="select is-fullwidth">
                <select name="list" ng-model="employeeList" ng-change="output(e.name)">
                  <option value="">Select Employee</option>
                  <option ng-repeat="e in employees">{{e.name}}</option>
                </select>
              </span>
              <a class="button is-danger" ng-click="delete(employeeList)">Delete</a>
            </p>
          </div>
          <div class="column">
          </div>
        </div>
<!--CHANGE EMPLOYEE ROLE-->
        <div class="columns content x-margin-top">
          <div class="column">
            <h3 class="no-margin">Change Employee Role</h3>
          </div>
        </div>
        <div class="columns section">
          <div class="column">
            <p class="control">
              <span class="select is-fullwidth">
                <select name="list" ng-model="employeeList" ng-change="output(e.name)">
                  <option value="">Select Employee</option>
                  <option ng-repeat="e in employees">{{e.name}}</option>
                </select>
              </span>
            </p>
            <p><u>What role would you like to assign to this employee?</u></p>
            <br>
            <p class="control">
              <label class="radio">
                <input 
                  type="radio" 
                  name="question" 
                  ng-model="option.employee" 
                  ng-value="true">
                  Employee
              </label>
              <label class="radio">
                <input 
                  type="radio" 
                  name="question"
                  ng-model="option.admin" 
                  ng-value="true">
                  Admin
              </label>
            </p>
            <a class="button is-success" ng-click="setRole(option)">Set Role</a>
          </div>
          <div class="column">
          </div>
        </div>


      </div>
    </div>
  </div>
</div>