<div ng-controller="loginCtrl">
	
	<div class="columns content">
  		<div class="column is-4 is-offset-4">
  			<h2 class="has-text-centered extra-margin-top">Employee Scheduler - CMS</h2>
    		<div class="box">
          		<h4>Login</h4>
    			<p class="control has-icon">
  					<input class="input" type="email" placeholder="Email">
  					<i class="fa fa-envelope"></i>
				</p>
				<p class="control has-icon">
  					<input class="input" type="password" placeholder="Password">
  					<i class="fa fa-lock"></i>
				</p>
				<p class="control">
  					<button class="button is-success full-width">
    				Submit
  					</button>
				</p>
				<p class="control">
  					New Account?  <a ui-sref="Role">Register</a>
				</p>
  			</div>
		</div>
	</div>

</div>