<div ng-controller="registerCtrl">
	<div class="columns content">
  		<div class="column is-4 is-offset-4">
  			<h2 class="has-text-centered extra-margin-top">Employee Scheduler - CMS</h2>
    		<div class="box">
          <h4>New Account - Employee</h4>
    			<p class="control has-icon">
  					<input
              ng-model="employee.email" 
              class="input" 
              type="email" 
              placeholder="Email">
  					<i class="fa fa-envelope"></i>
				</p>
				<p class="control has-icon">
  					<input
              ng-model="employee.password"  
              class="input" 
              type="password" 
              placeholder="Password">
  					<i class="fa fa-lock"></i>
				</p>
				<p class="control">
  					<button class="button is-info full-width" ng-click="signupEmployee(employee)">
    				Submit
  					</button>
				</p>
        <p class="control pointer" ui-sref="Role">
            Back
        </p>
  			</div>
		</div>
	</div>
</div>